.animations-container {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: -1;
}

.line {
  position: absolute;
  height: 5px;
  width: 100vw;
  background-color: rgb(21, 20, 20);
  opacity: 0;

  animation-name: fade;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 0;
  }
}

@keyframes blink {
  from {
    opacity: 0.75;
  }
  to {
    opacity: 0;
  }
}
