@media screen and (min-width: 481px) and (max-width: 769px) {

}

@media screen and (min-width: 770px) {
  .container {
    margin-left: 25vw;
    margin-right: 25vw;
  }

  .navbar {
   margin-top: calc(var(--title-size) * 2);
   justify-content: center;
  }

  .navbar a {
    margin-left: calc(var(--title-size) * 2);
    margin-right: calc(var(--title-size) * 2);
  }

  .typer {
    margin-top: calc(var(--title-size) * 2);
  }

  .typer p {
    line-height: 150%;
  }   

  .language {
    margin-bottom: calc(var(--text-size) * 1.5);
  }

  .project-container {
    margin-bottom: calc(var(--text-size) / 2);
  }

  .project-description {
    line-height: 120%;
  }

  .project-link {
    display: inline-block;
    margin: 0;
    line-height: 150%;
  } 

  .contacts-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .links-list {
    max-width: 70%;
  }

  .photo-container {
    width: 25vw;
    height: 100%;
    margin: 0;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    margin-left: 15vw;
    margin-right: 15vw;
  }
}