@media screen and (min-width: 481px) and (max-width: 769px) {
}

@media screen and (min-width: 770px) {
  .content {
    padding-left: 15vw;
    padding-right: 15vw;
  }

  .navbar,
  .blog-navbar {
    margin-top: calc(var(--title-size) * 2);
  }

  .typer p {
    line-height: 150%;
  }

  .language-container {
    margin-top: calc(var(--text-size) * 1.5);
    margin-bottom: calc(var(--text-size) / 2);
  }

  .project-container,
  .article-container {
    margin-top: calc(var(--text-size) / 2);
    margin-bottom: calc(var(--text-size) / 2);
  }

  .project-description {
    line-height: 120%;
  }

  .project-link,
  .article-link {
    display: inline-block;
    margin: 0;
    line-height: 150%;
  }

  .contacts-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .links-list {
    max-width: 70%;
  }

  .photo-container {
    width: 35vw;
    height: 100%;
    margin: 0;
  }

  .line {
    height: 2px;
  }
}

@media screen and (min-width: 1200px) {
}
