@media only screen and (max-width: 480px) and (min-width: 0px) {
  .navbar {
    left: 5vw;
    width: 90vw;
    justify-content: center;
  }

  .content {
    width: 90vw;
    left: 5vw;
  }

  #logo {
    margin-top: 15vh;
  }

  #description {
    margin-top: 25vh;
  }

  .projectscontainer, .contactscontainer, .codetracker {
    margin-top: 10vh;
    max-width: 90vw;
  }

  .codetracker {
    margin-top: 5vh;
  }

  .description {
    display: none;
  }

  .repo {
    text-align: left;
  }

  .icon {
    top: 0.2rem;
    width: 1rem;
    height: 1rem;
  }

}

@media only screen and (max-width: 400px) {
  .icon {
    padding-left: 0;
  }

  .contact {
    padding-right: calc(var(--text-size) / 2);
  }
}

@media only screen and (max-width: 1000px) and (min-width: 481px) {
  .projectscontainer, .contactscontainer, .codetracker {
    margin-top: 10vh;
  }

  .contact, .codestats {
    margin-top: 1vh;
    margin-bottom: 1vh;
  }

  .icon {
    top: 0.3rem;
    width: 1.5rem;
    height: 1.5rem;
  }
}
