@media only screen and (max-width: 480px) and (min-width: 0px) {
  .title {
    padding-top: 10vh;
  }

  .title #name {
    font-size: 3rem;
  }

  .title #subtitle {
    font-size: 1.75rem;
  }

  .text {
    font-size: 1rem;
  }

  .text p {
    padding-bottom: 0.5rem;
  }

  .mobileshow {
    display: inline;
  }

  .mobilehide {
    display: none;
  }

  .myprojects {
    font-size: 1rem;
  }

  .myprojects #subtitle,
  .codestats #subtitle {
    font-size: 1.25rem;
    padding-bottom: 1rem;
  }

  .myprojects #projects {
    font-size: 1rem;
  }

  .codestats #total,
  .codestats #breakdown {
    font-size: 1rem;
  }

  .icons a {
    width: 48px;
    height: 48px;
    margin-left: 12px;
    margin-right: 12px;
  }

  #colorswitch {
    width: 100vw;
    font-size: 1rem;
    left: 0;
    top: 2vw;
    text-align: center;
  }
}

@media only screen and (max-width: 1001px) and (min-width: 481px) {
  .title {
    padding-top: 5vh;
  }

  .title #name {
    font-size: 4rem;
  }

  .title #subtitle {
    font-size: 3rem;
  }

  .text {
    font-size: 2rem;
  }

  .myprojects #projects {
    font-size: 1.5rem;
  }

  .myprojects #subtitle {
    font-size: 2rem;
  }

  .codestats #title {
    font-size: 2rem;
  }

  .codestats #total,
  .codestats #breakdown {
    font-size: 1.5rem;
  }


  .icons a {
    width: 96px;
    height: 96px;
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media only screen and (max-width: 1600px) and (min-width: 1001px) {
  .text {
    font-size: 2.5rem;
  }
}
