@media only screen and (max-width: 480px) and (min-width: 0px) {
  .navbar {
    justify-content: center;
    width: 90vw;
    left: 5vw;
  }

  .flag {
    width: calc(var(--small-text-size) / 12);
    height: auto;
    margin-left: calc(var(--small-text-size) / 2);
  }

  .content {
    width: 90vw;
    left: 5vw;
  }

  #logo {
    padding-top: 15vh;
  }

  #description {
    padding-bottom:  calc(var(--big-text-size) * 3);
  }

  .projectscontainer, .contactscontainer {
    margin-top: 5vh;
    max-width: 90vw;
  }

  .description {
    display: none;
  }

  .repo {
    text-align: left;
    max-width: 85vw;
  }

  .icon {
    top: 0.2rem;
    width: 1rem;
    height: 1rem;
  }

}

@media only screen and (max-width: 400px) {
  .icon {
    padding-left: 0;
  }

  .contact {
    padding-right: calc(var(--text-size) / 2);
  }

  .projectscontainer, .contactscontainer, .navbar, #description p {
    backdrop-filter: initial;
  }
}

@media only screen and (max-width: 1000px) and (min-width: 481px) {
  .projectscontainer, .contactscontainer{
    margin-top: 10vh;
  }

  .contact, .codestats {
    margin-top: 1vh;
    margin-bottom: 1vh;
  }

  .icon {
    top: 0.3rem;
    width: 1.5rem;
    height: 1.5rem;
  }

  .repo {
    max-width: 20vw;
  }
}
