@font-face {
  font-family: AvenirRoman;
  src: url(fonts/AvenirLTStd-Roman.otf);
}

@font-face {
  font-family: AvenirBlack;
  src: url(/fonts/AvenirLTStd-Black.otf);
}

body * {
  padding: 0;
  margin: 0;
  z-index: 50;
}

body::-webkit-scrollbar {
  width: var(--small-text-size);
}

body::-webkit-scrollbar-track {
  background-color: var(--background);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--text);
  border-radius: 1px;
  opacity: 0.5;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

a, a:visited {
  color: inherit;
  text-decoration: none;
}

*:lang(it) {
  display: none;
}

body {
  background: var(--background);
  color:var(--text);
  font-size: 62.5%;
  font-family: AvenirRoman;
}

.italic {
  font-style: italic;
  opacity: 1;
}

.sketch {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vw;
  z-index: 100;
}

.canvasfade {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vw;
  z-index: 100;
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.page {
  min-height: 100vh;
  width: 85vw;
  top: 0;
}

.navbar {
  position: absolute;
  top: 0;
  right: var(--small-text-size);
  top: var(--small-text-size);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: var(--small-text-size);
  z-index: 200;
}

.navbar a, .navbar p {
  padding: 0.5rem;
  text-decoration: underline;
  cursor: pointer;
}

.content {
  background-color: none;
  position: absolute;
  text-align: left;
  left: 7.5vw;
  display: inline-block;
  z-index: 100;
}

.section {
  font-size: var(--text-size);
}

#logo, .sectiontitle {
  font-size: var(--title-size);
  letter-spacing: 5px;
}

#logo {
  margin-top: 10vh;
}

#description {
  margin-top: 20vh;
}

.sectiontitle {
  margin-top: 5vh;
}

.projectscontainer, .contactscontainer {
  margin-top: 20vh;
  max-width: 75vw;
}

.projectscontainer tr, .contactscontainer tr{
  vertical-align: top;
}

.codetracker {
  margin-top: 5vh;
  margin-bottom: 5vh;
  max-width: 75vw;
}

.contact, .codestats {
  margin-left: 7.5vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
  max-width: 80vw;
}

.language, .contact {
  text-align: right;
  padding-right: var(--text-size);
  border-right: 1px solid var(--text);
}

.repo, .address {
  padding-left: var(--text-size);
  padding-bottom: var(--text-size);
}

.repo a:hover, .address a:hover {
  font-style: italic;
  text-decoration: underline;
}

.codestats, .codestats p {
  display: inline;
}

.icon {
  position: relative;
  top: 0.5rem;
  padding-left: 0.5rem;
  filter: invert(1);
  width: 2.5rem;
  height: 2.5rem;
  display: inline;
}
