<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="description" content="{{title}}" />
    <meta charset="utf-8" />
    <title>{{title}}</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="Lorenzo Rossi" />
    <link rel="shortcut icon" href="/favicon.ico" />

    <link rel="stylesheet" href="/css/fonts/fonts.css?{{date}}" />
    <link rel="stylesheet" href="/css/vars.css?{{date}}" />
    <link rel="stylesheet" href="/css/style.css?{{date}}" />
    <link rel="stylesheet" href="/css/big-screens.css?{{date}}" />
    <link rel="stylesheet" href="/css/blog.css?{{date}}" />

    <script src="/js/article.js?{{date}}"></script>
  </head>
  <body>
    <div class="content">
      <div class="blog-navbar aberration">
        <a href="{{prev_link}}">PREVIOUS ARTICLE</a>
        <a href="/blog/blog.html">TAKE ME BACK</a>
        <a href="{{next_link}}">NEXT ARTICLE</a>
      </div>

      <div class="blog-section">{{content}}</div>
    </div>
  </body>
</html>
