<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="description" content="Lorenzo Rossi homepage" />
    <meta charset="utf-8" />
    <title>Lorenzo Rossi</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="Lorenzo Rossi" />
    <link rel="shortcut icon" href="favicon.ico" />

    <link rel="stylesheet" href="css/vars.css?{{date}}" />
    <link rel="stylesheet" href="css/style.css?{{date}}" />
    <link rel="stylesheet" href="css/animations.css?{{date}}" />
    <link rel="stylesheet" href="css/big-screens.css?{{date}}" />

    <script src="js/secret.js?{{date}}"></script>
    <script src="js/main.js?{{date}}"></script>
  </head>

  <body>
    <div class="animations-container"></div>
    <div class="content">
      <div class="navbar aberration">
        <a href="#interactive">INTERACTIVE</a>
        <a href="#portfolio">PORTFOLIO</a>
        <a href="#links">CONTACTS</a>
      </div>
      <div class="section">
        <div
          class="typer aberration"
          line-separator="|"
          data-text="Hi, I'm Lorenzo.|I'm a student, a creative, a programmer, an engineer.|Welcome in my website.|Try my interactive projects, take a look at my repos, see what I like to do.|Scroll down to find the links to all my social media accounts.|Don't forget to check out my GitHub profile!|"
        ></div>
      </div>

      <div class="section" id="interactive">
        <h1 class="aberration">INTERACTIVE</h1>
        <h2 class="aberration">
          some of the interactive projects that I have developed during the
          years
        </h2>
        <ul class="links-list small-aberration">
          {% for project in interactive_repos %}
          <li class="interactive-container">
            <a class="project-title" href="{{project.homepage}}"
              >{{project.name_formatted}}</a
            >
            <span class="project-date"
              >created {{project.created_at_formatted}}</span
            >
          </li>
          {% end %}
        </ul>
      </div>

      <div class="section" id="portfolio">
        <h1 class="aberration">PORTFOLIO</h1>
        <h2 class="aberration">
          many different projects ranging from embedded development to digital
          art
        </h2>
        {% for language in repos_list %}
        <div class="language-container small-aberration">
          {{language}}
          <ul class="projects-list">
            {% for project in repos_list[language] %}
            <li class="project-container">
              <a class="project-title" href="{{project.html_url}}"
                >{{project.name_formatted}}</a
              >
              <span class="project-description"
                >{{project.description_formatted}}</span
              >
            </li>
            {% end %}
          </ul>
        </div>
        {% end %}
      </div>

      <div class="section" id="links">
        <h1 class="aberration">CONTACTS</h1>
        <div class="contacts-container">
          <ul class="links-list small-aberration">
            <li class="links-container">
              <div class="icon" id="email"></div>
              <span>Send me an</span>
              <a class="secret" id="email" href="mailto:enable@jstosee.it"
                >email</a
              >
            </li>
            <li class="links-container">
              <div class="icon" id="curriculum"></div>
              <span>Take a look at my </span>
              <a class="secret" id="curriculum">curriculum</a>
            </li>
            <li class="links-container">
              <div class="icon" id="github"></div>
              <span>Check my projects on</span>
              <a href="https://github.com/lorossi">GitHub</a>
            </li>
            <li class="links-container">
              <div class="icon" id="telegram"></div>
              <span>Contact me on</span>
              <a class="secret" id="telegram">Telegram</a>
            </li>
            <li class="links-container">
              <div class="icon" id="telegram"></div>
              <span>Take a look at my Telegram</span>
              <a class="secret" id="telegram-channel">channel</a>
            </li>
            <li class="links-container">
              <div class="icon" id="linkedin"></div>
              <span>Add me on</span>
              <a href="https://linkedin.com/in/lorenzo-rossi-897628212"
                >LinkedIn</a
              >
            </li>
            <li class="links-container">
              <div class="icon" id="instagram"></div>
              <span>View my profile on</span>
              <a href="https://www.instagram.com/lorossi97/">Instagram</a>
            </li>
            <li class="links-container">
              <div class="icon" id="vimeo"></div>
              <span>Watch my videos on</span>
              <a href="https://vimeo.com/user128765833">Vimeo</a>
            </li>
            <li class="links-container">
              <div class="icon" id="unsplash"></div>
              <span>Check my photos on</span>
              <a href="https://unsplash.com/@lorossi97">Unsplash</a>
            </li>
          </ul>

          <div class="photo-container">
            <img
              src="./assets/img/photo.png"
              loading="lazy"
              alt="Lorenzo Rossi"
              class="photo"
              alt="Hey that's me .jpg"
            />
          </div>

          <div class="footer small-aberration">
            100% made in Italy
            <div class="flag" id="it">
              <div class="green"></div>
              <div class="red"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
