{
  "GitHub": {
    "access_token": ",
    "topics": [""],
    "topics_skip_websites": [""]
  },
  "json_file": "repos.json",
  "html_projects_file": "projects-list.html",
  "html_interactive_file": "interactive-list.html",
  "html_base_file": "base.html"
}
