{
  "GitHub" : {
    "access_token" : "GITHUB ACCESS TOKEN",
    "skip_names" : ["REPO NAMES TO SKIP"],
    "skip_urls" : ["REPO URLS TO SKIP"]
  },

  "FTP" : {
    "upload": true,
    "server": "FTP-SERVER",
    "username": "FTP-USERNAME",
    "password": "FTP-PASSWORD",
    "port": FTP-PORT,
    "path": "FTP-REMOTE-DESTINATION-PATH"
  },

   "colors" : ["HEX COLOR TO CHOOSE"],

   "strings" : ["SUBTITLES STRINGS"],

   "threshold_brightness" : THRESHOLD-BRIGHTNESS,
   "min_angle" : MINIMUM-ANGLE,
   "max_angle" : MAXIMUM-ANGLE,
   "output_file": "OUTPUT-FILE-PATH"
}
