@media only screen and (max-width: 480px) and (min-width: 0px) {
  .title {
    padding-top: 10vh;
  }

  .title #name {
    font-size: 3rem;
  }

  .title #subtitle {
    font-size: 1.75rem;
  }

  .text {
    font-size: 1rem;
  }

  .myprojects {
    font-size: 1rem;
  }

  .myprojects #subtitle {
    font-size: 1rem;
    padding-bottom: 1rem;
  }

  .myprojects #projects {
    font-size: 1rem;
  }

  .icons a {
    width: 48px;
    height: 48px;
    margin-left: 12px;
    margin-right: 12px;
  }
}

@media only screen and (max-width: 1001px) and (min-width: 481px) {
  .title {
    padding-top: 5vh;
  }

  .title #name {
    font-size: 4rem;
  }

  .title #subtitle {
    font-size: 3rem;
  }

  .text {
    font-size: 2rem;
  }

  .myprojects #projects {
    font-size: 1.5rem;
  }

  .myprojects #subtitle {
    font-size: 2rem;
  }

  .icons a {
    width: 64px;
    height: 64px;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media only screen and (max-width: 1600px) and (min-width: 1001px) {
  .text {
    font-size: 2.5rem;
  }
}
