@media only screen and (max-width: 480px) and (min-width: 0px) {
  .title {
    top: 2.5vh;
  }

  .title #name {
    font-size: 3rem;
  }

  .title #subtitle {
    font-size: 1.75rem;
  }

  .icons {
    flex-wrap: wrap;
    width: 50vw;
    left: 25vw;
    bottom: 2.5vh;
  }

  .icons a {
    width: 20vw;
    height: 20vw;
    margin-bottom: 2.5vh;
  }

  .orbs {
    /*display: none;*/
  }

  .text {
    font-size: 1.25rem;
    top: 28vh;
    width: 80vw;
    left: 10vw;
  }
}

@media only screen and (max-width: 1001px) and (min-width: 481px) {
  .title {
    top: 2.5vh;
  }

  .title #name {
    font-size: 4.5rem;
  }

  .title #subtitle {
    font-size: 2.25rem;
  }

  .icons {
    bottom: 5vh;
    flex-wrap: wrap;
    width: 40vw;
    left: 30vw;
  }

  .icons a {
    width: 9vw;
    height: 9vw;
    margin-bottom: 2.5vh;
  }

  .text {
    font-size: 1.5rem;
      top: 39vh;
  }
}

@media only screen and (max-width: 1600px) and (min-width: 1001px) {
  .icons {
    width: 50vw;
    left: 25vw;
  }

  .text {
    top: 46vh;
    font-size: 2.5rem;
  }
}
