@font-face {
  font-family: Roboto-Thin;
  src: url('fonts/Roboto-Thin.ttf');
}


html {
  height: 100%;
}

body {
  overflow: hidden;
  margin: 0;
  font-family: Roboto-Thin;
}

.title {
  position: absolute;
  display: inline-block;
  top: 10vh;
  width: 100vw;
  text-align: center;
   user-select: none;
}

.title #name {
  font-size: 8rem;
}

.title #subtitle {
  font-size: 5rem;
  display: none;
}

.icons {
  position: absolute;
  display: inline-block;
  bottom: 10vh;
  width: 35vw;
  left: 32.5vw;
  display: flex;
  justify-content: space-between;
}

.icons a {
  width: 128px;
  height: 128px;
}

.icons #email {
  background: url('../src/svg/email.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.icons #github {
  background: url('../src/svg/github.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.icons #instagram {
  background: url('../src/svg/instagram.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.icons #linkedin {
  background: url('../src/svg/linkedin.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.icons #telegram {
  background: url('../src/svg/telegram.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.orbs {
    z-index: -10;
    position: absolute;
    width: 100vw;
    height: 100vw;
}

#orb {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 100%;
  opacity: 0.1;
  transform: translate(-50%, -50%);
}
